.product {
  display: flex;
  margin: 20px 0px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.product_right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
}
.select_image {
  display: flex;
  flex-direction: column;
}
.select_image_select {
  width: 10vw;
  height: 20vh;
  margin: 10px 10px;
  object-fit: cover;
}

.product_main_image {
  width: 400px;
  height: 550px;
  object-fit: cover;
  margin: 10px 10px;
  width: 25vw;
  height: 60vh;
  object-fit: cover;
  margin: 10px 10px;
}

.product_left {
  flex: 4;
  margin: 0px 20px;
}
.product_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product_description {
  text-align: justify;
  width: 50vw;
}
.increment_decrement {
  display: flex;
  margin: 20px 0px;
}
.product_number {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product_counter {
  width: 40px;
  height: 40px;
  background-color: rgb(240, 234, 234);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  cursor: pointer;
}

.product_button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 20px;
}
.cart_button {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wishList_compare {
  display: flex;
  align-items: center;
  
  margin: 20px 0px;
}
.wishList {
  display: flex;
  align-items: center;
  margin: 0px 10px;
}
.wishlist_compare_icon {
  color: blue;
  margin: 10px 10px;
}
.vendor_information {
  font-size: 12px;
}

.additional_information {
  font-size: 12px;
}

@media screen and (max-width: 480px) {
  .product_main_image {
    width: 278px;
    height: 25vh;
  }
  .select_image_select{
    width: 70px;
    height: 70px;
  }
}
